.my-table{
    tr{
        &:hover{
            img{
                cursor: pointer;
            }
            
        }
    }

}

.my-table-icons{
    width: 50px;
    text-align: center;
    img{
        width: 20px;
        height: 20px;
    }
}